

a {color:black}




.footer-logo{
    font-family: 'Pacifico', cursive;
    font-size: 55px;}

    .footer-links{background: #dfdfdf;
       
        
                 border:5px solid ;
                 border-bottom: -55px;
               
                 

    background-color: gray;


    }

